.comments-container {
  font-size: 0.7rem;
  margin-top: 0rem;
  margin-left: 1rem;
  padding: 0rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.comments-container p {
  font-style: italic;
  color: #073ccd;
  font-size: 0.8rem;
}

.topic-breadcrumb {
  font-style: italic;
  color: #0f17ba;
  font-size: 0.8rem;
}