.comment {
  font-size: 0.7rem;
}
.comment h5 {
    padding-left: 8px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-style: italic;
}
.comment p {
  padding-left: 15px;
}

.comment-button {
  font-size: 0.7rem;
  margin: 0.5rem 0 0.5rem 0.1rem;
  padding: 8px 3px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  cursor: pointer;
}